.jumbotron{
    padding: 2rem 1rem;
    background: linear-gradient(var(--degree), rgb(245, 102, 0), rgb(82, 45, 128));
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-name: rotate;
    color: white;
}
:root {
    --degree: 0deg;
}
@property --degree {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate{
    0% {
        --degree: 0deg;
    }
    
    25% {
        --degree: 90deg;
    }
    50% {
        --degree: 180deg;
    }
    75% {
        --degree: 270deg;
    }
    100% {
        --degree: 360deg;
    }
}
