<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Jonathan Lemon</h1>
        <h3>Software Engineer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px; max-width: 20vw;" class="row mt-2 mb-2 me-2 ms-2 d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/jonathan-lemon-66464520b/" target="_blank" class="col rounded hoverable d-flex justify-content-center">
            <img src="linkedinlogoheader.png" width="32" height="32" class="rounded-circle mt-2 mb-2 me-2 ms-2">
        </a>
        <a href="https://github.com/jonathanlemon" target="_blank" class="col rounded hoverable d-flex justify-content-center">
            <img src="githublogoheader.png" width="32" height="32" class="rounded-circle mt-2 mb-2 me-2 ms-2">
        </a>
        <a href="resume.pdf" target="_blank" class="d-flex col rounded hoverable text-white align-items-center justify-content-center" style="text-decoration: none;">
            <p class="text-white lead mt-2 mb-2 me-2 ms-2" style="font-weight: 300;">Résumé</p>
        </a>
    </div>
</div>