<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg shadow border m-1 ms-2 me-2 hoverable" style="max-width: 90vw;">
            <div class="text-center">
                <h1 class="display-6">About Me</h1>
                <img src="profilepic.jpg" alt="Profile Picture" width="256" height="256" class="rounded-circle">
                <hr>
                <p class="text-secondary">Technologist, passionate about learning and leading in the software industry. Summa Cum Laude from Clemson. Experienced with using many industry standard languages and frameworks to develop robust solutions. From computer architecture to algorithm optimization and cloud computing, I am fascinated with all aspects of computer science. Always wanting to learn more and develop myself in all disciplines of life. Currently working full-stack at LPL Financial, developing .NET APIs, optimizing database design, and creating new front-end features for a highly scalable environment.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1 ms-2 me-2 hoverable" style="max-width: 90vw;">
            <div class="text-center">
                <div class="text-center">
                    <h1 class="display-6">Featured Project</h1>
                    <h4 class="text-secondary">{{featuredProject.name}}</h4>
                </div>

                <carousel>
                    <div *ngFor="let picture of featuredProject.pictures">
                        <slide><img src={{picture}} alt="Slide" style="display:block; width:100%;"></slide>
                    </div>
                </carousel>
                
                <p class="mt-2">{{featuredProject.summary}}</p>
                <p>Visit the Portfolio section to learn more.</p>
            </div>
        </div>
    </div>
</div>